@import "./root.css";

.listered {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 2.5rem 1rem;
  place-items: center;
}

.listered h3 {
  text-align: center;
  color: var(--white);
}

.paginations {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  place-content: center;
  justify-content: space-around;
  padding-block: 2rem;
}

.paginations span {
  padding: 0.3rem;
  width: 12vw;
  border-radius: 20px;
  text-align: center;
  font-size: 1.3em;
  cursor: pointer;
  color: var(--white);
  background: var(--secondary-color);
}

.pokemon-info {
  cursor: pointer;
}
